<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="branding/css/clientspace-complete.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/chat-widget.css" />
    <link rel="stylesheet" href="SharePointExternalUserManager.Portal.styles.css" />
    <link rel="icon" type="image/svg+xml" href="branding/logos/clientspace-icon-light.svg" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/chat.js"></script>
</body>

</html>
